@model IEnumerable<CmsShoppingCart.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<p>
   @Html.ActionLink("Add New Pages", "AddPage",null,new { @class = "btn btn-info" })
</p>

@if (!Model.Any())
{
    <h1 class="text-center">There Are No Pages.</h1>
}
else
{
    <table class="table sorting table table-bordered" id="pages">
        <tr class="home">
            <th>
                Title
            </th>
            <th>
                Slug
            </th>
      
            <th>
               Sidebar
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr id="id_@item.Id" class="@item.Slug">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.HasSidebar)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPage", new { id=item.Id },new {@class= "btn btn-success" }) 
                @Html.ActionLink("Details", "PageDetails", new { id=item.Id }, new { @class = "btn btn-warning" }) 
                @if (item.Slug!="home")
                {
                    @Html.ActionLink("Delete", "DeletePage", new { id = item.Id },new { @class= "delete btn btn-danger" })
                }
            </td>
        </tr>
    }

    </table>

}
@section Scripts{
    

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script>
        $(function () {
            /*
            confirm page deletion
            */
              $("a.delete").click(function () {
                if (!confirm("Confirm Page Deletion")) return false;
            });
            
            ///////////////////////////////////



            /*
            Reorder Pages
            */
              $("table#pages tbody").sortable( {
                  items: "tr:not(.home)",
                  placeholder: "ui-state-highlight",
                  update: function () {
                      var ids = $("table#pages tbody").sortable("serialize");
                      var url = "/Admin/Pages/ReorderPages";

                      $.post(url, ids, function (data) {

                      });
                  }
              });

            ///////////////////////////////////
        });



    </script>
    }