@model CmsShoppingCart.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = "Page Details";
}

<h2>Page Details</h2>

@if (TempData["Success Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Success Message"]
    </div>
}
<div style="padding: 27px;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

     

     

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPage", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Back to Pages", "Index",null, new { @class = "btn btn-warning" })
</p>
